@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    outline:none!important;
}



.container {width:95%;max-width:1170px;margin:0 auto;display:flex;}


/*Header Styles*/
.sticky {position:fixed;top:0;left:0;z-index:99;}

#headerBlock {background-color:#2A2F33;color:white;width:100%;}
#headerBlock .container{justify-content:space-between;align-items:center;padding:20px 0;}
#headerBlock .container .leftHeader svg {width:150px;}
#headerBlock .container .rightHeader ul {display:flex;gap:25px;}
#headerBlock .container .rightHeader ul li a{color:white;transition:color 0.5s;}
#headerBlock .container .rightHeader ul li a:hover{color:#1EB6A9;}
#hamburger {font-size:20px;margin-right:10px;color:white;display:none;}

/*Banner Styles*/
#bannerBlock {background-color:#1EB6A9;padding-top:0px;background:url(../media/images/industrial-port-container-yard.jpg) no-repeat;background-size:cover;position: relative;background-attachment:fixed;}
#bannerBlock .overlayBg {position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,.3);z-index:1;}
#bannerBlock .container {display:flex;justify-content:space-evenly;align-items:center;min-height:90vh;position:relative;z-index:9;}
#bannerBlock .container .bannerImg img{width:100%;max-width:400px;object-fit:cover;border-radius:50px;box-shadow:5px 5px 25px #1e1b1b;}
#bannerBlock .container .bannerImg h1{text-align:center;color:white;font-weight:800;font-size:40px;}
#bannerBlock .container .bannerForm form {background-color:rgba(24,24,24,.95);color:white;padding:50px 40px;border-radius:10px;box-shadow:5px 5px 25px #1e1b1b;max-width:400px;width:100%;animation:borderAnimation 10s infinite;}
#bannerBlock .container .bannerForm form h2{margin-bottom:30px;}
#bannerBlock .container .bannerForm form .formInner ul {display:flex;flex-direction:column;gap:15px;}
#bannerBlock .container .bannerForm form label {display:inline-block;width:100%;max-width:100%;margin-bottom:7px;}
#bannerBlock .container .bannerForm form input {width:100%;border-radius:5px;padding:10px 3px;border:none;background:rgba(255,255,255,.1);}
#bannerBlock .container .bannerForm form button {background-color:#1EB6A9;border:0;color:white;padding:13px 8px;border-radius:5px;transition:border 0.5s, background-color 0.2s, color 0.5s, border-radius 1s;text-transform:uppercase;width:100%;margin-top:10px;}
#bannerBlock .container .bannerForm form button:hover {cursor:pointer;color:#1EB6A9;background:#181818;}
#bannerBlock .container .bannerForm form button:active {background-color:#181818;color:#1EB6A9;}

/*Services Styles*/
#serBlock {background-color:#fff;padding:100px 0px;}
#serBlock .container #serTab {width:100%;max-width:70%;margin-top:61px;}
#serBlock .container {display:flex;justify-content:space-evenly;align-items:center;gap:40px;}
#serBlock .container h1{margin-bottom:25px;font-weight:800;color:#1EB6A9;}
#serBlock .container .services #serList {width:100%;display:flex;flex-direction:column;gap:10px;}
#serBlock .container .services #serList span {color:white;display:block;background-color:#ccc;color:#000;padding:15px 10px;border-radius:5px;transition:all 1s;width:100%;text-transform:uppercase;font-weight:500}
#serBlock .container .services #serList span:hover {cursor: pointer;}
#serBlock .container .services #serList span.activeTab {color:white;background-color:#1EB6A9;cursor:pointer;}

#serBlock .container #serTab .detailInner {display:flex;flex-direction:column;justify-content:center;align-items:center;gap:20px;padding:30px;width:100%;min-height:345px;background-color:#2A2F33;color:white;border-radius:5px;text-align:center;}

.serActive {color:black;background-color:#badfe7;box-shadow:5px 5px 25px #1e1b1b;transition:2s;}

/*Testimonials Styles*/
#testiBlock {display:flex;background:#1EB6A9;}
#testiBlock .col {width:50%;display:flex;justify-content:center;flex-direction:column;}
#testiBlock .col.leftBlock {color:#fff;gap:30px;padding:50px;}
#testiBlock .col.leftBlock h1 {font-size:40px;font-weight:800;padding-bottom:20px;}
#testiBlock .col.leftBlock .custRev {width:100%;min-height:100px;}
#testiBlock .col.leftBlock .custRev h2 {font-size:25px;}
#testiBlock .col.leftBlock .custRev p {font-size:20px;}


/*Footer Block*/
#footerBlock {width:100%;background:white;padding:50px;font-weight:500;}
#footerBlock .container {gap:40px;justify-content:space-between;color:#181818;padding:20px 0px;}
#footerBlock h2 {font-weight:500;font-size:20px;text-transform:uppercase;margin-bottom:10px;}
#footerBlock h5 {font-weight:500;font-size:16px;text-transform:uppercase;}
#footerBlock ol {display:flex;gap:10px;margin-bottom:10px;}
#footerBlock ol li {font-size:18px;}
#footerBlock ul li {line-height:30px;}
#footerBlock a {color:#181818;}
#footerBlock a:hover {color:#1EB6A9;}

/*About Page*/
.aboutParagraph {padding:30px;}

/*Gallery Page*/
@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

#galleryImage {opacity:1;transition:opacity 1s;}
#galleryImage.fadeOut {opacity:0;}

/*Contact Page*/
.contactBanner {padding:40px 0px;}
.contactBanner .container {gap:30px !important;}
.contactBanner .container address a{color:black;transition:color 0.5s;}
.contactBanner .container address a:hover{color:#EA9A28;}
.contactBanner .container h1 {margin-bottom:20px;}
.contactBanner .container .col {min-height:150px;}
.contactBanner ul li i {margin-right:10px;width:20px;}
.contactBanner ul li a {color:black;transition:color 0.5s;}
.contactBanner ul li:nth-of-type(1) a:hover {color:#ff8800;}
.contactBanner ul li:nth-of-type(2) a:hover {color:#00acee;}
.contactBanner ul li:nth-of-type(3) a:hover {color:#8a3ab9;}
.contactBanner ul li:nth-of-type(4) a:hover {color:#FF0000;}


@media screen and (max-width:1050px)
{
    #headerBlock .container, #preFooterBlock .container {flex-direction:row;}
    .container {flex-direction:column;min-height:auto!important;gap:50px;}
    #bannerBlock {padding-top:100px !important;;}
    #bannerBlock, #serBlock, #testBlock {padding:50px 0px;}
    #bannerBlock .container, #testBlock .container {flex-direction:column-reverse;}

    #testiBlock{position:relative;}
    #testiBlock .overlayBg {position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(0, 0, 0, 0.4);z-index:1;}
    #testiBlock .rightBlock {width:100%;}
    #testiBlock .leftBlock {position:absolute;width:100%;z-index:2;text-align:center;}
    #footerBlock .container {flex-direction:column-reverse;}


    /* For Hamburger Menu*/
    .navigation {display:none;}
    #hamburger {display:inline-block;}
    #headerBlock .container {position:relative;}
    #headerBlock .container .rightHeader ul {background:#2A2F33;display:block;position:absolute;right:0px;padding:40px;}
    
    /*Other Pages CSS*/
    .galleryBanner .container, .contactBanner .container {flex-direction:column !important;}
    .galleryBanner .container {min-height:64vh !important;;}
    .contactBanner .container {min-height:80vh !important;}
    .aboutBanner .container {min-height:64vh !important;}
    .contactBanner address {text-align:center;}
}
