* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}
body {width:100%;}
.container {width:100%;max-width:1170px;margin:0 auto;}


/*Header Styles*/
#headerBlock {background-color:#363538;color:white;position:fixed;width:100%;}
#headerBlock .container{display:flex;justify-content:space-between;align-items:center;padding:20px 20px;}
#headerBlock .container .rightHeader ul {display:flex;gap:25px;}
#headerBlock .container .rightHeader ul li a{color:white;}
#headerBlock .container .rightHeader ul li a:hover{color:#408697}
#hamburger {font-size:20px;margin-right:10px;color:white;display:none;}

/*Banner Styles*/
#bannerBlock {background-color:#badfe7;}
#bannerBlock .container {display:flex;justify-content:space-evenly;align-items:center;height:90vh;}
#bannerBlock .container .bannerImg img{width:400px;object-fit:cover;border-radius:50px;box-shadow:5px 5px 25px #1e1b1b;}
#bannerBlock .container .bannerImg h1{text-align:center;color:black;margin-bottom:30px;}
#bannerBlock .container .bannerForm form {background-color:#408697;color:white;padding:50px 40px;border-radius:30px;box-shadow:5px 5px 25px #1e1b1b;width:300px;}
#bannerBlock .container .bannerForm form h2{margin-bottom:30px;}
#bannerBlock .container .bannerForm form label {display:inline-block;width:100px;margin-bottom:7px;}
#bannerBlock .container .bannerForm form input {width:220px;margin-bottom:15px;border-radius:5px;padding:3px;border:none;}
#bannerBlock .container .bannerForm form button {background-color:white;margin-top:15px;padding:4px 8px;border-radius:10px;border:2px solid transparent;transition:border 0.5s, background-color 0.2s, color 0.5s; color:#408697;}
#bannerBlock .container .bannerForm form button:hover {border:2px solid black;cursor:pointer;color:black;}
#bannerBlock .container .bannerForm form button:active {background-color:#408697;}

/*Services Styles*/
#serBlock {background-color:#c2edce;}
#serBlock .container {display:flex;justify-content:space-evenly;align-items:center;height:90vh;}
#serBlock .container .services h1{text-align:center;margin-bottom:25px;}
#serBlock .container .services #serList span {display:block;text-align:center;background-color:#408697;margin:10px;padding:10px;border-radius:10px;transition:all 1s;}
#serBlock .container .services #serList span:hover {background-color:#badfe7;cursor:pointer;box-shadow:5px 5px 25px #1e1b1b;}
#serBlock .container #serTab {background-color: #fff;width:400px;height:150px;padding:30px;border-radius:30px;box-shadow:5px 5px 25px #1e1b1b;text-align:center;}
#serBlock .container #serTab h2{margin-bottom:15px;}

/*Testimonials Styles*/
#testBlock {background-color:lightslategray;text-align:center;}
#testBlock .container {display:flex;justify-content:space-evenly;align-items:center;height:50vh;}
#testBlock .container .custRev {background-color: #fff;width:400px;height:150px; padding:30px;border-radius:30px;box-shadow:5px 5px 25px #1e1b1b;text-align:center;}
#testBlock .container .custRev h2 {margin-bottom:15px;}


/*Pre Footer Styles*/
#preFooterBlock {background-color:#f6f6f2;}
#preFooterBlock .container {display:flex;justify-content:space-evenly;align-items:center;padding:100px 0px;}
#preFooterBlock .container a{color:#1e1b1b}
#preFooterBlock .container a:hover{color:#408697}

/*Pre Footer Styles*/
#footerBlock {background-color:#363538;}
#footerBlock .container {text-align:center;padding:20px 0px;color:white;}




/* #23383b
#246068
#3aa1aa
#e29000
#fadb67 */

@media only screen and (width>900px){
    .navigation {display:block;}
}

@media only screen and (max-width:900px){
    .navigation {display:none;}
    #hamburger {display:inline-block;}
    /* #headerBlock .container .rightHeader nav{display:none;} */
    #headerBlock .container {position:relative;}
    #headerBlock .container .rightHeader ul {background:#363538;display:block;position:absolute;right:0px;padding:40px;}

    #bannerBlock .container .bannerImg h1{margin-top:60px;}

    #bannerBlock .container{flex-direction:column-reverse;}
    #testBlock .container{flex-direction:column-reverse;}
    #serBlock .container{flex-direction:column;}
    

    #serBlock .container .services #serList {display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center;}
    #serBlock .container .services #serList span {flex: 1 0 33%;}
}



@media only screen and (max-width:425px){
    
    #bannerBlock .container{height:85vh;}
    #serBlock .container{height:60vh;}
}   

@media only screen and (max-width:375px){
    #bannerBlock .container .bannerForm form {width:280px;}
    #bannerBlock .container .bannerForm form input {width:205px;}
    #serBlock .container #serTab {width:300px;height:150px;}
    #testBlock .container .custRev {width:300px;height:150px;}
}

@media only screen and (max-width:320px){
    #bannerBlock .container .bannerForm form {width:260px;}
    #bannerBlock .container .bannerForm form input {width:185px;}
    #serBlock .container #serTab {width:260px;height:170px;}
    #testBlock .container .custRev {width:260px;height:150px;}
}